<link rel="stylesheet" type="text/css" href="css/home.css">
<div>
    <p class="is-error"><%=message%></p>
</div>

<% if (message != null) { %>
    <script language="javascript">
        window.location.href = "/?page=1";
        alert("<%= message %>");
    </script>
<% } %>