@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

.ticket-box{
    border: 2px solid #174287;
}

.priority-ticket-box{
    border: 2px solid #FF3860;
}

.priority-button{
    position:absolute;
    top: 10%;
    left: 0.7%;
}
.type-button{
    position:absolute;
    top: 10%;
    left: 7%;
}

.status-button{
    position:absolute;
    top: 10%;
    left: 95%;
}

.article-block{
    position:relative;
}

.noHover{
    pointer-events: none;
}